<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<filter>
  		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">inc/</directory>
			<exclude>
				<directory suffix=".php">inc/traits/</directory>
				<directory suffix=".php">inc/interfaces//</directory>
				<file>inc/classes/class-main.php</file>
				<file>inc/classes/class-menu-config.php</file>
				<file>inc/classes/class-menu-page.php</file>
				<file>inc/classes/class-post-factory.php</file>
				<file>inc/classes/class-shortcode-factory.php</file>
				<file>inc/classes/class-success.php</file>
				<file>inc/classes/class-errors.php</file>
			</exclude>
  		</whitelist>

	</filter>
	<testsuites>
		<testsuite name="my-gallery-models">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/test-sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
