.dashicons-my-gallery{
    background-size: 60%;
    background-image: url(../images/gallery.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
span.dashicons-my-gallery  {
    background-size: 100% !important;
}
.button-container{
    display: inline-block;
}



.wrap-about-my-gallery{
    display:flex;
    justify-content: center;
}
.container-about{
    min-width:350px;
    width:700px;
}
.container-about li{
    list-style:initial; 
}
